@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300&display=swap');

:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}


/* border box model: https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);

}

h1, h2, h3{
    margin: 0;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    width: 80%;
    /*border: 2px solid white;*/
}

.nav__logo{

}

.nav__content ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}


.nav__content ul li,button{
    padding: 0 1rem;
}

.nav__content ul button{
    background: var(--hotmag);
    color: white;
    padding: .75rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro{
    padding: 0;
    margin: 8rem 0;
    width: 80%;
    /*border: 2px solid white;*/
}

#intro .name{
    font-family: var(--mono);
}

#intro  span{
    display: block;
    color: aqua;
    font-size: 5rem;
    font-family: Oxygen, sans-serif;

}

#intro h2{
    font-size: 5rem;
    font-family: Oxygen, sans-serif;
    font-weight: bold;
}

#intro p:last-child a{
    color: var(--magenta);
}
